.user-img{
    height:40px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
}

.user-img-detail{
   
    max-height: 170px;
    max-width: 170px;
    margin-top: -15px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    margin-right: 30px;
}

.modal-detail{
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.btn-close{
    height: 8px;
    width: 8px;
   background-color: rgb(255, 255, 255);
   
}

.spam-details{
    color: rgb(158, 158, 158)!important;
    height: 20px;
}